# Este arquivo foi gerado para o DoomTui https://github.com/rlins10/doomtui
# Estes diretórios aparecem nos campos de escolha de iwad, pwad e ports
# Cada diretório deve ser separado por linhas, com Path= na frente

# Não duplique os diretórios

[IWADSearch.Directories]
Path=$DOOMWADDIR

[PWAD.Directories]
Path=$HOME/games/zdoom/doom-pwad
Path=$HOME/games/zdoom/special
Path=$DOOMWADDIR/hh-pwad/HEXEN
Path=$DOOMWADDIR/hh-pwad/HERETIC

# Na indicação dos ports, você pode ou não usar o caminho
# completo, mas se não usar, o $PATH do sistema precisa achar
# aqueles que não têm o caminho especificado
[PORT.Directories]
Port=gzdoom
Port=uzdoom
Port=biaseddoom
Port=$DOOMWADDIR/zandronum/zandronum
